name: CI
on: [push, pull_request]

jobs:
  linux-build-meson:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: sudo apt install -yq --no-install-recommends gfortran-8 ninja-build liblapack-dev libblas-dev
    - run: pip3 install meson
    - run: FC=gfortran-8 CC=gcc-8 meson setup build_gcc --buildtype release -Dla_backend=netlib --warnlevel 0
    - run: ninja -C build_gcc test

  linux-build-cmake:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: sudo apt install -yq --no-install-recommends gfortran-8 liblapack-dev libblas-dev cmake make
    - run: mkdir build install
    - run: cd build && FC=gfortran-8 CC=gcc-8 CXX=g++ cmake -DCMAKE_INSTALL_PREFIX=../install ..
    - run: cd build && make
    - run: cd build && make install
    - run: export XTBHOME=$PWD && cd build && make test

  osx-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: brew install gcc@8 ninja meson lapack
    - run: FC=gfortran-8 CC=gcc-8 meson setup build_gcc --buildtype release -Dla_backend=netlib --warnlevel 0
    - run: ninja -C build_gcc test
